<div class="chart-container">
  <ngx-charts-bar-horizontal
    [scheme]="colorScheme"
    [results]="results"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: gray"
  >
  </ngx-charts-bar-horizontal>
  <!-- <button (click)="randomize()" class="btn btn-primary">RANDOMIZE</button> -->
</div>
